:root {
  color-scheme: light;
  --brand-purple1: #713b7e;
  --brand-purple2: #7e2574;
  --brand-purple3: #b84f9d;
  --brand-purple4: #952f73;
  --brand-purple5: #842990;
  --text-black: #000000;
  --bg-light: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-light);
  color: var(--text-black);
  line-height: 1.6;
}

body.light {
  background-color: var(--bg-light);
}

body[dir='rtl'] {
  direction: rtl;
}

img {
  max-width: 100%;
  display: block;
}

main {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
